[2022-02-25 19:57] marvinmarnold opened #6 "Maker App and Onboarding Server migration"

[2022-02-25 19:58] marvinmarnold opened #7 "Document local build process for Android"
**Acceptance criteria**
- Add documentation to README.
- Include specific commands used.
- Dependencies / version requirements.
- Specify model tested with.
- Test all app functionality. Highlight anything not working.

[2022-02-25 19:59] marvinmarnold opened #8 "Document local build process for iPhone"
**Acceptance criteria**
- Add documentation to README.
- Include specific commands used.
- Dependencies / version requirements.
- Specify model tested with.
- Test all app functionality. Highlight anything not working.

[2022-02-25 20:00] marvinmarnold opened #9 "Spike: Determine which build tool to use for production"
Fastlane looks like a good option. Timebox this to 2h.

[2022-02-25 20:02] marvinmarnold opened #10 "Spike: Compile assets/docs needed for Android and iPhone"
- Terms and conditions
- Screenshots
- Business use case??
- Generate [video](https://docs.google.com/document/d/1-ZdqK17DLAF5VS_tPEf9buvlLQSzdYeoJjl4gSRShEo/edit#heading=h.n1rogg5utrj2) of entire flow with @Louisreed

[2022-02-25 20:05] marvinmarnold opened #11 "Update assets for UI"
Pictures to use [here](https://nebraltd.slack.com/archives/C02SVCWLHRB/p1642689522017200?thread_ts=1642680189.014100&cid=C02SVCWLHRB).

Appvales work [here](https://gitlab.com/appvales/nebra/-/commits/dev).

**Acceptance criteria**
- [x] [Text](https://github.com/NebraLtd/maker-starter-app/blob/6813eb34642b6c3bf5fa2bf1aeb61b54d0606cfb/src/locales/en.ts)
- [x] Update your theme colors in [theme.ts]

[2022-02-25 20:06] marvinmarnold opened #12 "Use correct secrets and endpoints"
- Onboarding server (hardcoded in [App.tsx](https://github.com/NebraLtd/maker-starter-app/blob/6813eb34642b6c3bf5fa2bf1aeb61b54d0606cfb/src/App.tsx#L125))
- https://github.com/NebraLtd/maker-starter-app/blob/2a1082bb7dbfa359feb64daa0c570c9f6fba0aee/README.md?plain=1#L60

[2022-02-25 20:11] marvinmarnold opened #13 "Establish manual build process for iPhone"
**Acceptance criteria**
For each of the three stages build, sign, and publish, include documentation for:

- List of necessary assets that need to be supplied: images, text files, etc
- Provide code snippets or link to detailed instructions
- Decisions taken: eg key params, build tool, etc

[2022-02-25 20:13] marvinmarnold opened #14 "Establish automated build process"
This is not a high priority. We can launch without this.

[2022-02-25 20:15] marvinmarnold opened #15 "Submit to Apple iphone App Store"

[2022-02-25 20:16] marvinmarnold opened #16 "End-to-end tests of onboarding"
- Onboard new ROCK Pis.

[2022-02-26 01:51] marvinmarnold commented on #12
@vpetersson have you already created keys for Google Maps or Mapbox?

[2022-02-26 02:08] marvinmarnold commented on #16
@ilyastrodubtsev adding you to this so you can help us make sure the dashboard is still working after the migration.

[2022-02-26 11:00] vpetersson commented on #10
Yeah I don't think we have that ready atm. Just put in a place holder for the time being.

We should be able to pull that fairly easily from either the emulator of screenshots on the device directly once it works end-to-end

To be HIP19 compliant :)

Good idea!

[2022-02-26 17:16] posterzh commented on #9
@marvinmarnold @Andrewsopoku I agree **Fastlane** is the best tool as a production tool for this project. It supports well. When we are using **Fastlane**, additional consideration might be:
- Determine which CI tool to run test(https://docs.fastlane.tools/getting-started/ios/running-tests/)
- Add more test cases to the project to cover onboarding logic
- Invite beta testers(QA) to the beta deploy

[2022-02-26 19:35] Andrewsopoku commented on #9
@marvinmarnold @posterzh We can consider Codemagic too. Although the name sound fancy, it looks promising.

https://docs.codemagic.io/yaml-quick-start/building-a-react-native-app/

[2022-02-26 20:12] marvinmarnold commented on #9
@Andrewsopoku @vpetersson, Zhang and I are leaning towards Fastlane. Andrews, I believe you have experience with Fastlane, not Codemagic. That's important. Codemagic looks cool, but it has more features than we need now and it feels too new and shiny, whereas Fastlane is more battle tested.

I think we are going to quickly regret doing the build process by hand, without any tooling. And Fastlane w

[2022-02-26 21:12] vpetersson commented on #9
Yeah i'm OK with automated builds. However, I'm not sure if it is possible to break those things apart in the iOS world at least. However, I'm not exactly up to date with these things.

[2022-02-26 22:00] marvinmarnold commented on #10
On the Apple side, the account holder, @shawaj needs to login and accept some agreement.

![Screen Shot 2022-02-26 at 3 57 01 PM](https://user-images.githubusercontent.com/1311030/155860395-be6a58d2-cdc4-4683-8914-2e3424476fe8.png)

[2022-02-26 22:01] marvinmarnold commented on #10
And I don't have access to the Android Play store account FYI

[2022-02-26 23:09] marvinmarnold opened #19 "Establish manual build process for Android"
**Acceptance criteria**
For each of the three stages build, sign, and publish, include documentation for:

- List of necessary assets that need to be supplied: images, text files, etc
- Provide code snippets or link to detailed instructions
- Decisions taken: eg key params, build tool, etc

[2022-02-26 23:15] shawaj commented on #10
@marvinmarnold Apple thing sorted.

Re Google your Nebra email account has access 👍

[2022-02-27 00:13] marvinmarnold commented on #10
Thanks. Never found an invitation but was able to login directly from the Play console.

[2022-02-27 00:39] marvinmarnold commented on #9
We have consensus that we'll do completely manual releases to start.

[2022-02-27 00:39] #9 closed

[2022-02-27 01:03] shawaj commented on #10
Strange but glad you could get in 🙌

[2022-02-27 19:11] shawaj opened #93 "will need a new 4g guide for rockpi models"

[2022-02-27 23:12] Andrewsopoku commented on #15
Metadata needed before iOS can be submitted for App review can be found here.
https://help.apple.com/app-store-connect/#/devfc3066644

[2022-02-28 13:46] marvinmarnold commented on #7
@posterzh can you close this?

[2022-02-28 13:59] marvinmarnold commented on #8
Closed by https://github.com/NebraLtd/maker-starter-app/pull/18

[2022-02-28 13:59] #8 closed

[2022-02-28 16:26] #7 closed

[2022-02-28 20:43] Andrewsopoku commented on #11
@marvinmarnold  these are the screens that need immediate textual update

1. Landing Screen
<img src="https://user-images.githubusercontent.com/20680743/156050218-aa40fc55-4d31-4a55-84e1-75188d663aa7.PNG" width="300" height="auto">

2. Menu/ Add Miner Screen
<img src="https://user-images.githubusercontent.com/20680743/156050568-876edb21-12d4-431b-9481-bdce61f5b6b4.PNG" width="300" height="auto">

[2022-03-02 17:40] Andrewsopoku commented on #13
Closed by https://github.com/NebraLtd/maker-starter-app/pull/23

[2022-03-02 18:30] marvinmarnold opened #25 "Rename application to `Nebra Helium App`"
Rename your application using [React Native Rename](https://github.com/junedomingo/react-native-rename). You will want to pass in the custom bundle identifier for [Android](https://developer.android.com/studio/build/configure-app-module#set_the_application_id) and also change it manually for [iOS](https://developer.apple.com/documentation/appstoreconnectapi/bundle_ids).

https://github.com/NebraLt

[2022-03-02 18:35] marvinmarnold opened #26 "Update app scheme"
You will need to update your App Scheme for any deep linking. There are guides for both [iOS](https://developer.apple.com/documentation/xcode/defining-a-custom-url-scheme-for-your-app) and [Android](https://developer.android.com/training/app-links/deep-linking).

[2022-03-02 19:00] #13 closed

[2022-03-02 19:28] Andrewsopoku commented on #25
@marvinmarnold can i pick up this issue?

[2022-03-02 19:30] marvinmarnold commented on #25
Yes please

[2022-03-02 23:16] marvinmarnold commented on #11
@Andrewsopoku @posterzh, picking up the convo about splash screen. @posterzh could you detail the process you have in mind?

[2022-03-03 01:34] posterzh commented on #11
In [expo-splash-screen documentation](https://www.npmjs.com/package/expo-splash-screen), it's clear said that we should place image assets in native android/ios project directory.

To change splash screen:
(shared assets)
• https://github.com/NebraLtd/maker-starter-app/blob/2712ee44e09a2b9637ae80e18015f59186dc46d2/src/assets/images/SplashScreen.png
• https://github.com/NebraLtd/maker-starter-app/b

[2022-03-03 01:54] marvinmarnold commented on #11
@Louisreed an antenna [icon](https://github.com/NebraLtd/maker-starter-app/blob/081c8bd9230103aa1cfb2323f530fd1eca2abca2/src/makers/example/icon.svg) is needed can you help?
![image](https://user-images.githubusercontent.com/1311030/156481269-31252b2c-7a59-470c-ba17-c2f923709eaa.png)

[2022-03-03 10:43] Andrewsopoku commented on #11
@posterzh  I understand you but my concern is that the manual approach is error prone and difficult as we have to generate different images for different definitions/dimensions.

Why not put the image in the native project and the CLI tool to do the necessary generation:

For icon or ic_launch change we can use:
`yarn icon`

For splash screen  change:
yarn expo-splash-screen  --background-color "<

[2022-03-03 11:07] Andrewsopoku commented on #25
@marvinmarnold please what bundle id should be used? eg. com.nebra.nebrahelium

[2022-03-03 14:53] marvinmarnold opened #30 "Update splash screen and icons"
**Acceptance criteria**
- Splash screen should be displayed for both Android and iOS
- Files in native directories should be automatically generated based on react-native sources
- Primary app logo should be generated
- The splash screen should blend in with the frame background seamlessly on all phone sizes

[2022-03-03 15:08] posterzh commented on #11
@Andrewsopoku I fully agree with you. As said in `expo-splash-screen` documentation, cli command works well for automating the splash image generation.

[2022-03-03 15:44] marvinmarnold opened #31 "Bump dependabot dependencies"
- https://github.com/NebraLtd/maker-starter-app/pull/24
- https://github.com/NebraLtd/maker-starter-app/pull/20
- https://github.com/NebraLtd/maker-starter-app/pull/4
- https://github.com/NebraLtd/maker-starter-app/pull/3
- https://github.com/NebraLtd/maker-starter-app/pull/2
- https://github.com/NebraLtd/maker-starter-app/pull/1

[2022-03-03 17:41] marvinmarnold opened #32 "Implement transfer"
**Acceptance criteria**
- BLE connection not required
- User always pays for transfer
- Hotspot address prefilled and not editable based on the hotspot that was selected form the homepage

[2022-03-04 10:03] Louisreed commented on #11
How's this? Let me know if you need it in any other sizes/formats.

<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><defs><style>.cls-1{fill:#424242;}</style></defs><path class="cls-1" d="M519.5,757.5h-45a2,2,0,0,0-2,2v2h-7v-4h-25v4h-3v35h3v4h25v-4h7v2a2,2,0,0,0,2,2h45a2,2,0,0,0,2-2v-39A2,2,0,0,0,519.5,757.5Z"/><path class="cls-1" d="M510.5,306.5v-1

[2022-03-04 10:03] Louisreed commented on #11
`<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><defs><style>.cls-1{fill:#424242;}</style></defs><path class="cls-1" d="M519.5,757.5h-45a2,2,0,0,0-2,2v2h-7v-4h-25v4h-3v35h3v4h25v-4h7v2a2,2,0,0,0,2,2h45a2,2,0,0,0,2-2v-39A2,2,0,0,0,519.5,757.5Z"/><path class="cls-1" d="M510.5,306.5v-108h-2v-4h2V169a10.5,10.5,0,0,0-21,0v25.5h2v4h-2v108l-11,117v332a2,2

[2022-03-04 16:19] Andrewsopoku commented on #25
@marvinmarnold "Nebra Helium App" seems off, as non of the apps on my phone ends with "App". How about going with just "Nebra Helium". And also some part may be ellipsed on some phones because it is long. Thoughts?

[2022-03-04 17:14] marvinmarnold commented on #25
@Andrewsopoku based on [Slack](https://nebraltd.slack.com/archives/C0XGF69SN/p1646412420070209?thread_ts=1646410959.701439&cid=C0XGF69SN), let's go with `Nebra` (launcher) / `Nebra Hotspot` (everywhere else).

[2022-03-04 17:31] Andrewsopoku commented on #25
Well noted. Thank you.

[2022-03-07 12:28] Andrewsopoku commented on #32
I guess we will hide both "Assert Location" and "Transfer Hotspot", and use them later when it becomes a necessity.

[2022-03-08 02:02] marvinmarnold commented on #11
@Louisreed whoops I should have asked for a svg of a hotspot, not an antenna. Also note how small that antenna was looking
![signal-2022-03-07-200235](https://user-images.githubusercontent.com/1311030/157151455-f819e37d-105b-4ee9-98ae-58b6ac7fa471.png)
.

[2022-03-08 02:49] posterzh commented on #30
Current launcher icon and splash screen on Android 10 motor e.

**Launcher Icon**
![image](https://user-images.githubusercontent.com/91350131/157156517-68dc1a5f-215f-4a63-80c5-8b756a19462f.png)

**Splash Screen**
![image](https://user-images.githubusercontent.com/91350131/157156508-f7e26dfd-1607-497a-a1a6-b452f1c1905a.png)

[2022-03-08 03:23] marvinmarnold opened #35 "Distribute build for internal testing"
The app needs to be circulated internally before being submitted.

**Acceptance criteria**
- Instructions for creating and installing the binary

[2022-03-08 09:04] Louisreed commented on #11
@marvinmarnold We don't have the digital files for the ROCKPi miner yet so I can't produce an SVG! Will a high-res PNG work for now?

[2022-03-08 17:59] posterzh commented on #35
**How to build Android apk for distributing:**
1. Open `android` subdirectory of `maker-starter-app` in Android Studio.
![image](https://user-images.githubusercontent.com/91350131/157296871-44be0cf6-15aa-47ac-9149-da2f68b53f94.png)

2. Click `Buid/Generate Signed Bundle/APK...`.
![image](https://user-images.githubusercontent.com/91350131/157297169-0f936353-48d3-4dba-95a1-3de1d9c00d8e.png)

3. Foll

[2022-03-08 22:32] marvinmarnold commented on #12
@vpetersson btw you will need to create a new Mapbox style and copy the link. Just saw this, but yea I can create the Google Maps one.

![Screen Shot 2022-03-08 at 4 30 36 PM](https://user-images.githubusercontent.com/1311030/157336991-adc0995f-2c68-4fe4-8cd8-31fe480222b8.png)
![Screen Shot 2022-03-08 at 4 31 01 PM](https://user-images.githubusercontent.com/1311030/157336998-6db0f308-149f-4915-918

[2022-03-08 22:37] marvinmarnold commented on #11
@Louisreed could you provide SVGs for the original outdoor and indoor miners in that case? It's hard to tell if there will be any issues on different sized phones if we use a PNG.

[2022-03-09 10:32] Louisreed commented on #11
@marvinmarnold

![Nebra-Original-Indoor-Hotspot](https://user-images.githubusercontent.com/9106988/157424208-5f3a3bb2-010d-4205-88db-433bb2cabdce.svg)
![Nebra-Outdoor-Hotspot](https://user-images.githubusercontent.com/9106988/157424226-242d4eb9-228f-4311-8541-ee6d76160aab.svg)
![Nebra-ROCKPi-Indoor-Hotspot](https://user-images.githubusercontent.com/9106988/157424230-a559def4-e7bb-41c4-a88e-f5476b5

[2022-03-09 16:21] marvinmarnold commented on #11
Awesome, thanks. @Louisreed I believe a zillion people have already talked to you about the color palette, but could you catch me up here. Are you doing any work currently to update [the colors](https://github.com/NebraLtd/maker-starter-app/blob/9af5c00858080dbec48b46ab55bd80d9a32fd2ea/src/theme/theme.ts#L79) in the app? Where's the best place to find our official color codes?

cc: @vladimirpolesh

[2022-03-09 19:50] marvinmarnold commented on #35
@Louisreed in order to be accepted by the Apple store, we need the video. Good old chicken and egg.

![Screen Shot 2022-03-09 at 1 48 56 PM](https://user-images.githubusercontent.com/1311030/157522405-4e064a4e-5a2d-404c-8e0e-ba828f3140cd.png)

CC @shawaj @vpetersson ^^

[2022-03-09 19:52] marvinmarnold commented on #35
But I think I read the email wrong. We can still use Test Flight in the meantime, we just can't promote it to Beta?

[2022-03-09 20:14] Louisreed commented on #35
@marvinmarnold Also it says it requires the video to be of an iOS device. Do you have this available yet?

[2022-03-09 20:30] marvinmarnold opened #37 "Show alert if Helium App not installed"
Related to: https://github.com/NebraLtd/maker-starter-app/pull/36#issuecomment-1063272019

If user tries to login with an existing wallet but does not have the Helium App installed, nothing will happen. They should be alerted to download it in this case.

[2022-03-09 22:54] marvinmarnold commented on #35
You should have received an invite. Because the app didn't get approved, we have to add people to a group instead of directly to the build.

[2022-03-09 23:55] Louisreed commented on #35
@marvinmarnold Thanks I've got it, I'll get the video completed asap.

[2022-03-10 09:39] #25 closed

[2022-03-10 22:19] Andrewsopoku commented on #30
Closed with https://github.com/NebraLtd/maker-starter-app/pull/38

[2022-03-10 22:19] #30 closed

[2022-03-10 23:43] marvinmarnold commented on #12
@Andrewsopoku @posterzh I created `Nebra App (maker-starter-app) .env` in 1Password for these values. It is still using a temporary `MAPBOX_STYLE_URL`. You can use this for building test releases.

[2022-03-10 23:44] marvinmarnold commented on #35
Great we can close this now. I was also able to produce APKs following these steps.

[2022-03-10 23:44] #35 closed

[2022-03-11 10:02] Andrewsopoku commented on #37
@marvinmarnold Perhaps, should we make it such that, we give them an option to get Helium app as shown in the image below?

<img height="350px" width="auto"  src="https://user-images.githubusercontent.com/20680743/157845331-7986109f-68e7-4a6b-8d8d-a5f57194dcec.PNG">

[2022-03-11 10:12] Andrewsopoku commented on #12
Well noted

[2022-03-11 15:20] marvinmarnold commented on #10
This is now being tracked in: https://github.com/NebraLtd/maker-starter-app/issues/11

[2022-03-11 15:20] #10 closed

[2022-03-11 15:20] marvinmarnold commented on #37
@Andrewsopoku seems reasonable to me

[2022-03-11 17:16] marvinmarnold commented on #32
@Andrewsopoku any thoughts on debugging this when going through location assert?

![Screenshot_20220311-121445](https://user-images.githubusercontent.com/1311030/157915351-3f973e19-628c-4cc6-90e8-d23d554ba616.png)

[2022-03-12 10:46] posterzh commented on #32
I will.

[2022-03-13 19:08] Louisreed commented on #11
@marvinmarnold No problem! We're migrating everything to Figma, I've just seen and approved your request. I'll be updating this over the course of the next few weeks but for now everything you need should be in there!

[2022-03-14 11:19] posterzh commented on #32
Declaring permissions in `AndroidManifest.xml` is not enough for requesting a permission in Android App. Android OS needs app to implement [`Request the runtime permission`](https://developer.android.com/training/permissions/requesting).
![image](https://user-images.githubusercontent.com/91350131/158161864-0f9a0865-0c64-41e1-86b6-8c4449e21ebe.png)

[2022-03-14 11:24] posterzh commented on #32
@marvinmarnold Running `Assert Location` without running `Add Hotspot` previously makes the App couldn't use BLE, since checking BLE runtime permission is only executed in `Add Hotspot`.

[2022-03-14 15:06] posterzh opened #40 "Fix mapbox error"
While asserting the location, mapbox error pop up.

![image](https://user-images.githubusercontent.com/91350131/158200759-a7e25ceb-b2d9-4e72-8fa8-ec5aa640096c.png)

[2022-03-14 15:39] posterzh commented on #40
`MAPBOX_ACCESS_TOKEN` and `MAPBOX_STYLE_URL` should match. They should come from a same mapbox account.

[2022-03-14 15:46] posterzh commented on #40
.env
[code]
![image](https://user-images.githubusercontent.com/91350131/158208811-ff5568b6-4436-48ed-96d4-662c6c965172.png)

Warning in above screen.
![image](https://user-images.githubusercontent.com/91350131/158209062-3da42fa2-31ca-479c-a351-fc2fd3329358.png)

After clicking 'Set Location' button:
![image](https://user-images.githubusercontent.com/91350131/158209121-258f1c08-2eff-45de-887f-de573

[2022-03-14 16:04] posterzh commented on #40
![image](https://user-images.githubusercontent.com/91350131/158212345-8ac10e5b-d5cd-40b5-9d02-91d221fe1d43.png)
![image](https://user-images.githubusercontent.com/91350131/158212456-386a500b-5874-4faa-ada6-9b4f110134dc.png)

[2022-03-14 16:31] marvinmarnold commented on #11
@Louisreed we need icons to use on these four screens:
![signal-2022-03-14-112737_003](https://user-images.githubusercontent.com/1311030/158217700-18d3980a-94b7-43b5-a142-1be88609a98e.png)
![signal-2022-03-14-112737_004](https://user-images.githubusercontent.com/1311030/158217705-e6e41fc0-815a-4dee-ad60-ad61a6e8a710.png)
![signal-2022-03-14-112737_007](https://user-images.githubusercontent.com/131

[2022-03-14 16:44] Louisreed commented on #11
@marvinmarnold Okay sure thing, I'll work on these next!

[2022-03-14 18:27] marvinmarnold opened #45 "Dark theme support"
https://nebraltd.slack.com/archives/C0XGF69SN/p1647280802060629?thread_ts=1647279479.807949&cid=C0XGF69SN

@Louisreed what colors do we want for the dark theme?

[2022-03-15 02:22] Louisreed commented on #11
@marvinmarnold

![Nebra-Setup-Icon-1-Mesh](https://user-images.githubusercontent.com/9106988/158293122-486ef7f7-2651-4d12-8f46-64f72003053c.svg)
![Nebra-Setup-Icon-2-buildings](https://user-images.githubusercontent.com/9106988/158293124-22348f82-bf5c-4234-b0bc-83f1bac8ee00.svg)
![Nebra-Setup-Icon-3-view](https://user-images.githubusercontent.com/9106988/158293125-6769863a-a601-4368-9295-41d48aa07d

[2022-03-15 02:53] posterzh opened #46 "Error in deep linking to Helium App"
When click "helium-hotspot" button, this error pops up on Android 12 Pixel emulator.

![image](https://user-images.githubusercontent.com/91350131/158296700-fa25d869-a0a2-416d-b7ef-451e752e8f22.png)

![image](https://user-images.githubusercontent.com/91350131/158296419-a05d3ef7-624f-4a2b-a4fb-8c96c6318e45.png)

[2022-03-15 04:09] posterzh commented on #46
This error occurs when the Helium Hotspot app is installed manually using .apk file.
Fixed this error by installing Helium Hotspot app from Google Play Store.

[2022-03-15 04:09] #46 closed

[2022-03-15 04:11] posterzh commented on #40
Still mapbox error comes in on Android 12 devices. @marvinmarnold confirmed about it.
I reproduced the same error on Android 12 emulator.
![image](https://user-images.githubusercontent.com/91350131/158304841-50f8495f-4e5f-456f-8371-d99ce3306810.png)

[2022-03-15 10:05] posterzh opened #48 "Implement update hotspot"
**Known issues with the current assert location page:**
1. The current final assert location page is used for 3 purposes:
- Registering Hotspot
- Update Antenna
- Update Location
2. Also, asking BLE permission in runtime is done in the process of registering but not in updating antenna or updating location.

Current final assert location page:
<img src="https://user-images.githubusercontent.com/91

[2022-03-15 11:53] vpetersson commented on #12
@marvinmarnold i've added the updated ones to 1password.

[2022-03-15 12:24] posterzh commented on #12
Cool

[2022-03-15 18:48] marvinmarnold commented on #48
We have agreed to remove location assertion for now. Can you remove the button @posterzh ?

see: https://nebraltd.slack.com/archives/C024BNQ1Y6T/p1647366524511249

[2022-03-15 20:50] marvinmarnold commented on #48
@Louisreed could you come up with mocks for this?

[2022-03-15 20:57] marvinmarnold commented on #32
@Louisreed this will also need mocks

[2022-03-16 07:58] Andrewsopoku commented on #11
Also should we not replace the "Welcome to Nebra" with Nebra logo? If so @Louisreed please can we get a better version of the logo below.
<img height="500" width="auto" src="https://user-images.githubusercontent.com/20680743/158542405-edbcda62-09b0-48cc-9ee1-d1b01bc73a94.PNG">

<img src="https://cdn.shopify.com/s/files/1/0071/2281/3001/files/Nebra-Icon-Blue_32x32.png?v=1610776627">

[2022-03-16 13:57] marvinmarnold commented on #11
@Andrewsopoku will you take the lead replacing the logo? Then this ticket can be closed.

[2022-03-16 15:09] marvinmarnold commented on #48
@Louisreed yes. Here are clearer screenshots:

![Screen Shot 2022-03-16 at 10 06 30 AM](https://user-images.githubusercontent.com/1311030/158622646-a9d77fc5-ac31-4bed-ad5e-b436cd9ab7c7.png)
![Screen Shot 2022-03-16 at 10 06 53 AM](https://user-images.githubusercontent.com/1311030/158622649-727447a8-e0d7-415e-9cf0-0d61d34de6f4.png)
![Screen Shot 2022-03-16 at 9 58 38 AM](https://user-images.githubu

[2022-03-16 15:16] marvinmarnold commented on #32
![Screen Shot 2022-03-16 at 10 15 19 AM](https://user-images.githubusercontent.com/1311030/158624156-1dbc4191-f269-4027-8ab7-3d6707d161e0.png)
![Screen Shot 2022-03-16 at 10 15 48 AM](https://user-images.githubusercontent.com/1311030/158624161-293321f8-70cb-49c3-8c48-04a85082469f.png)
![Screen Shot 2022-03-16 at 10 16 04 AM](https://user-images.githubusercontent.com/1311030/158624165-1a36da6a-9ef4

[2022-03-16 15:21] posterzh commented on #48
@marvinmarnold I will dig into the transaction related with updating antenna and location.

[2022-03-16 17:25] posterzh opened #51 "Remove unnecessary CAMERA permission"
Since Nebra maker app doesn't use QR onboarding feature, declaring CAMERA permission in Android and iOS project is unnecessary. Otherwise, we need to explain about the need of CAMERA permission in the privacy policy on Google Play.

**Acceptance criteria**
- Android app doesn't require CAMERA permission in runtime.
- Google Play Store shouldn't complain about privacy policy to describe the CAMERA

[2022-03-16 18:49] Andrewsopoku commented on #48
From my assertion, non of the screens @marvinmarnold shared are in Makerapp although features like "Location Assertion" and "Hotspot Transfer" are present but in a different approach which are not so user friendly.

Depending on whether the team decide to include "Location Assertion" and "Hotspot Transfer";

1. For a users who has linked their wallet but yet to onboard a hotspot can be shown (scre

[2022-03-17 15:57] marvinmarnold opened #54 "Homepage should list all hotspots owned"
**Acceptance criteria**
- Add hotspot button large at top of page
- App landing page should list the owner's hotspots, including: animal name, online status in text, and location.
- List all hotspots, even if not owned by Nebra
- When you click on a hotspot, takes you to a Select Action Page
- If no hotspots exist, a message should be displayed on the page

[2022-03-17 16:00] marvinmarnold opened #55 "Select Action Page"
**Acceptance criteria**
- Should be displayed after a hotspot is selected from the homepage
- Title: Animal name
- Two buttons: Update location/antenna and transfer ownership
- Jump to this page by clicking anywhere within the box of a hotspot listing, not just the three dots.

[2022-03-18 16:59] marvinmarnold commented on #12
@posterzh @Andrewsopoku can you test the `.env` found on 1Password under `Nebra App (maker-starter-app) .env`? It should now contain the working values at top.

[2022-03-18 19:09] posterzh commented on #12
@marvinmarnold It works well.

[2022-03-21 05:32] #40 closed

[2022-03-21 12:17] Andrewsopoku commented on #11
@Louisreed please any update on the logo?

[2022-03-21 12:19] #12 closed

[2022-03-22 09:32] Andrewsopoku commented on #55
@marvinmarnold @posterzh instead of taking user to a new page, can an action sheet which will pop up when the user select a hotstop be used?

[2022-03-22 09:33] posterzh commented on #55
@Andrewsopoku It makes sense to me.

[2022-03-22 17:16] marvinmarnold commented on #16
Successfully onboarded an original (rpi) indoor miner (originally RMAd) using our maker app and pointing to our onboarding server.

[2022-03-22 17:16] #16 closed

[2022-03-22 19:35] marvinmarnold opened #58 "Add "custom" antenna"
As a user who purchased a non-Nebra antenna, I want to be able to enter a custom gain for the antenna even if it is not one of the predefined options.

**Acceptance criteria**
- Option to select "Custom antenna"
- Able to set both the gain and height

[2022-03-22 19:46] Andrewsopoku opened #59 "Integrating Sentry for automatic reporting of errors and exceptions"
We want to integrate Sentry's React Native SDK to enable automatic reporting of errors and exceptions, and identify performance issues in app.

Acceptance Criteria:
- Should log all exceptions.
- Should log all native runtime app or device related crashes.

[2022-03-22 19:53] Andrewsopoku commented on #59
@marvinmarnold sentry set up will require [dsn](https://docs.sentry.io/product/sentry-basics/dsn-explainer/).

[2022-03-22 20:03] marvinmarnold commented on #59
@Andrewsopoku I just invited you to Sentry. LMK if you can access the DSN directly from there. In either case, I've also added it to 1Password. Thanks for making the issue.

[2022-03-22 22:45] Andrewsopoku commented on #54
Closed with https://github.com/NebraLtd/maker-starter-app/pull/56

[2022-03-22 22:46] #54 closed

[2022-03-23 13:50] Louisreed commented on #11
@Andrewsopoku Apologies I didn't get this notification! I'll upload the logo now!

[2022-03-23 13:52] marvinmarnold opened #62 "Make Assert Location and Transfer Device buttons disabled"
We want to record a video of app functionality ASAP. We want to show assert location and device transfer so that Apple will know it's a feature we are working on that is not yet ready.

**Acceptance criteria**
- Add Hotspot button can be clicked
- Assert location button greyed out and not clickable
- Transfer device button added back in and greyed out

[2022-03-23 13:54] Louisreed commented on #11
<?xml version="1.0" encoding="utf-8"?>

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 500 85.5" style="enable-background:new 0 0 500 85.5;" xml:space="preserve">
<style type="text/css">
	.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#02A8F5;}
</style>
<g id="Nebra-Logo-Primary_000001579924776429210683400

[2022-03-23 13:54] Louisreed commented on #11
[code]

[2022-03-23 14:00] Andrewsopoku commented on #62
@marvinmarnold Assert location and Transfer device buttons are no more on the homepage so i'm not sure i get you.

[2022-03-23 14:01] posterzh commented on #62
@Andrewsopoku We need to place these buttons from the earlier git history, IMO.

[2022-03-23 14:08] marvinmarnold commented on #62
Ah OK great. Then the we should grey out the options in this that are not yet ready: https://github.com/NebraLtd/maker-starter-app/pull/61

I'm going to close this and make the comment there. Thanks.

[2022-03-23 14:08] #62 closed

[2022-03-25 10:57] vpetersson opened #63 "[iOS] Missing styling"
![IMG_0761](https://user-images.githubusercontent.com/357664/160108869-9f80811e-4107-482d-aaf8-966fc9c87000.PNG)

Looks like this is missing the Nebra styling

Ping @Louisreed

[2022-03-25 10:58] vpetersson opened #64 "[iOS] More missing styling"
![AC5D9DB7-1008-4F00-B387-BBD6E112B954_1_102_o](https://user-images.githubusercontent.com/357664/160108497-b306aa81-7d5c-4ff9-a1ff-62b730a8a953.jpeg)

This page is also missing the Nebra styling

Ping @Louisreed

[2022-03-25 11:01] vpetersson opened #65 "[iOS] Missing hotspots"
![IMG_0763](https://user-images.githubusercontent.com/357664/160108983-5b760eba-6c5f-448e-84dc-20fa580b182b.PNG)

As you can see, the top says '8 Hotspot(s)', however only three are showing up.

[2022-03-25 11:06] Andrewsopoku commented on #63
@vpetersson Please did you run it in dark mode?

[2022-03-25 11:07] Louisreed commented on #63
@vpetersson @Andrewsopoku Yes I think that's the dark mode missing the styling. Which needs global changes!

[2022-03-25 11:21] vpetersson commented on #63
My phone is set to 'auto' so it shouldn't be dark mode.

[2022-03-25 16:29] Andrewsopoku commented on #45
@vpetersson the colors showing are colors for dark mode. This is the issue already opened for dark mode support.

@Louisreed should we use the same colors we have for light mode or you would share other color codes for these theme fields.

  primary:
  primaryBackground:
  primaryText:
  secondaryBackground:
  secondary:
  secondaryText:
  error:
  surface:
  surfaceText:
  surfaceSecondary:
  sur

[2022-03-25 17:13] Louisreed commented on #45
@Andrewsopoku Try this...

primary: **#424242**
primaryBackground: **#424242**
primaryText: **#FFFFFF**
secondaryBackground: **#1D1D1D**
secondary: **#1D1D1D**
secondaryText: **#FFFFFF**
error: **#E74C3C**
surface: **#424242**
surfaceText: **#FFFFFF**
surfaceSecondary: **#1D1D1D**
surfaceSecondaryText: **#FFFFFF**
surfaceContrast: **#000000**
surfaceContrastText: **#FFFFFF**

[2022-03-25 22:18] Andrewsopoku commented on #45
@Louisreed Looks like this after applying the shared colors.

<img height="600" width="auto" src="https://user-images.githubusercontent.com/20680743/160209261-2d7fc6de-c64e-41ae-ad82-a775b5bffca1.png"/>

[2022-03-25 23:24] Andrewsopoku commented on #65
@vpetersson Please I'm unable to replicate the issue.

I tried with an owner address with 9 hotspots and all showed. Is it possible to get the owner address you used?

<img width="auto" height="600" src="https://user-images.githubusercontent.com/20680743/160213158-5fe5963a-3654-4603-8899-ff331d8bf714.png"/>

[2022-03-25 23:32] Louisreed commented on #45
@Andrewsopoku Looks good apart from the 'You have 1 Hotspot(s)" in black - can this field be changed to white (#FFFFFF) please?

[2022-03-28 09:28] Louisreed commented on #15
Hi Marvin, I attempted the video again on Friday but ran into the same issues! I'm going to try again today with another device. Will keep you posted.On 26 Mar 2022 18:51, Marvin Arnold ***@***.***> wrote:
@Louisreed what is the status of the video?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-03-28 12:46] Andrewsopoku commented on #15
@Louisreed please what specific issues are you having?

[2022-03-28 12:56] Louisreed commented on #15
@Andrewsopoku "Error - Unable to find hotspot" after selecting the discovered hotspot...

[2022-03-28 13:07] Andrewsopoku commented on #15
@marvinmarnold could it be about adding Louis' hotspot ETH MAC to our onboarding server?

[2022-03-28 22:01] Andrewsopoku commented on #65
Closed with https://github.com/NebraLtd/maker-starter-app/pull/67

[2022-03-28 22:02] Andrewsopoku commented on #64
Closed with https://github.com/NebraLtd/maker-starter-app/pull/67

[2022-03-28 22:02] #64 closed

[2022-03-28 22:02] Andrewsopoku commented on #63
Closed with https://github.com/NebraLtd/maker-starter-app/pull/67

[2022-03-28 22:02] #63 closed

[2022-03-28 22:03] Andrewsopoku commented on #45
Closed with https://github.com/NebraLtd/maker-starter-app/pull/67

[2022-03-29 00:55] Louisreed commented on #15
@Andrewsopoku @marvinmarnold Sorry guys I'm getting another issue! Please see image attached. This happens at the same stage when trying to add the hotspot.

<img width="193" alt="Screenshot 2022-03-29 at 01 51 28" src="https://user-images.githubusercontent.com/9106988/160511034-08cf3478-69db-4ab3-ade7-a7bdf93fdf8a.png">

[2022-03-29 09:39] vpetersson commented on #45
@Louisreed Can we revisit this? That doesn't look great IMHO. Contrast are not great and it looks just off.

[2022-03-29 09:45] Louisreed commented on #45
@vpetersson @Andrewsopoku Have the latest dark mode colours been published? I'll see what it look like on my ipad and make changes from there.

[2022-03-29 10:05] Andrewsopoku commented on #45
@Louisreed yes it has

[2022-03-29 11:36] #65 closed

[2022-03-29 21:19] marvinmarnold commented on #11
This was closed by #69

[2022-03-29 21:19] #11 closed

[2022-03-29 21:21] marvinmarnold commented on #51
@posterzh @Andrewsopoku can this be closed?

[2022-03-29 21:24] marvinmarnold commented on #55
@Andrewsopoku the work for this is different than what is defined in the acceptance criteria, specifically title should be "Hotspot Settings" and subtitle should be animal name + PK.

I don't feel strongly about the original AC. But I want to make sure we are referencing them while we do our work.

What work is still needed on this?

[2022-03-29 22:43] marvinmarnold commented on #15
@posterzh can you publish a new release to the Google Play store?

[2022-03-29 23:54] Andrewsopoku commented on #55
@marvinmarnold the AC wasn't strictly sticked to because a sheet was used instead of page.
What is left is making the entire hotspot item clickable.

[2022-03-30 00:06] marvinmarnold opened #71 "Wifi password not being accepted"
@posterzh can you add some details to this based on https://nebraltd.slack.com/archives/C024BNQ1Y6T/p1648597689707699?thread_ts=1648571588.499249&cid=C024BNQ1Y6T and any open tickets in hm-config?

Related to: Related to: https://github.com/NebraLtd/hm-config/issues/47

[2022-03-30 00:27] posterzh commented on #15
Ok, I will.

[2022-03-30 00:41] posterzh commented on #51
@marvinmarnold Yes, this can be closed. @Andrewsopoku fixed iOS permission and this issues was postponed to be closed until I fix the Android.

[2022-03-30 00:41] #51 closed

[2022-03-30 01:07] posterzh commented on #32
Addressed by https://github.com/NebraLtd/maker-starter-app/pull/57

[2022-03-30 01:07] #32 closed

[2022-03-30 01:07] posterzh commented on #58
Addressed by https://github.com/NebraLtd/maker-starter-app/pull/57

[2022-03-30 01:07] #58 closed

[2022-03-30 12:52] Andrewsopoku commented on #45
@Louisreed Please are you able send the new colors for darkmode?

[2022-03-30 14:33] Andrewsopoku opened #72 "Splashcreen not covering entire screen on Android"
The current splashscreen doesn't cover the left and right ends of android devices.

Acceptance Criteria
- Splashscreen should cover the entire android device screen

[2022-03-30 17:06] marvinmarnold opened #73 "Release first production version to Google Play Store"
# @posterzh
1. Disable device transfer
2. Enable add hotspot
3. Enable assert location
4. Create APK and share with @Louisreed
5. Update register hotspot button so that assert location flow is correct

# @marvinmarnold
1. Create a signing certificate
2. Add cert to 1Password
3. Build, sign, upload to Play Store
4. Update store copy and images
5. Publish

[2022-03-30 18:14] Andrewsopoku opened #74 "Welcome page improvement"
We need to improve the look and feel of the welcome page.

<img height="400" width="auto" src="https://user-images.githubusercontent.com/20680743/160903809-878c697c-59b7-4ee3-9ef9-890b9a6ed52d.png"/>

**Acceptance Criteria**
- New mockup for the welcome page.
- Implementation of the mockup

[2022-03-30 18:21] marvinmarnold opened #75 "Improve location assertion and device transfer"
**Acceptance criteria**
- Determine what fees are applied when location assertion happens alone, when antenna selection happens alone, and when they happen together. How does this compare to the fees incurred during first onboarding?
- Pending the results above:
  - Option to update antenna only.
  - Option to update location and antenna at same time.
  - Option to update location only not needed.

[2022-03-30 18:25] marvinmarnold opened #76 "Notify users after device transfer"
**Acceptance criteria**
- If successful, friendly message should say "ANIMAL NAME successfully transferred to DESTINATION ADDR", with explorer link.
- If any error occurs, app should notify user with friendly error message that differentiates:
  - Recipient address is invalid
  - All other errors
- Error message should be populated via internationalization text

[2022-03-30 18:28] marvinmarnold opened #77 "Remove unsupported internationalization options"
**Acceptance criteria**
- English is default and only option available

[2022-03-30 18:38] marvinmarnold opened #78 "Fix last step in onboarding"
On this page:
![image](https://user-images.githubusercontent.com/1311030/160907404-63ca40b2-e197-4c4b-9ef4-2de917971420.png)

Crash report:
![image](https://user-images.githubusercontent.com/1311030/160907004-2802f44c-17e3-47a0-a29c-c3ada653a257.png)

**Acceptance criteria**

**For Onboarding**
- Title should say: "REGISTERING HOTSPOT"
- Subtitle should say: "Press the button below to view your ho

[2022-03-30 21:26] marvinmarnold opened #79 "Contents don't always fit on screen"
Sometimes the top of the Home page screen is cut off:
convo: https://nebraltd.slack.com/archives/C024BNQ1Y6T/p1648671819116959
![image](https://user-images.githubusercontent.com/1311030/160933404-a3eb4e50-ac0a-41ae-b02f-876c0bb5b86d.png)

**Acceptance Criteria**
- Content of the home page screen should be contained

[2022-03-31 00:32] marvinmarnold opened #80 "Android app crashes: Nebra keeps stopping"
Video: https://nebraltd.slack.com/archives/C0XGF69SN/p1648686501123209?thread_ts=1647279479.807949&cid=C0XGF69SN

[2022-03-31 10:13] posterzh commented on #48
With 2 followup tickets, this can be closed.
- https://github.com/NebraLtd/maker-starter-app/issues/76
- https://github.com/NebraLtd/maker-starter-app/issues/75

[2022-03-31 10:13] #48 closed

[2022-03-31 13:38] Andrewsopoku commented on #45
@Louisreed does the background remain same?

[2022-03-31 13:45] Louisreed commented on #45
@Andrewsopoku Yes please

[2022-03-31 18:31] marvinmarnold commented on #76
@posterzh @Andrewsopoku I think I forgot to pull this into the sprint. Should we pull it in? Can you give it points?

[2022-03-31 18:48] marvinmarnold commented on #15
@posterzh is your work for this done? Can I create an APK and publish?

[2022-04-01 00:34] Andrewsopoku commented on #74
@Louisreed please are you able redesign the welcome page above and share a mock up with us?

[2022-04-01 09:01] Louisreed commented on #74
@Andrewsopoku I'm on it!

[2022-04-01 10:25] Louisreed commented on #74
@Andrewsopoku Something like this? https://www.figma.com/file/6l7k7BRmW98AMmRxV01iVT/App?node-id=9%3A2

![Welcome-Page](https://user-images.githubusercontent.com/9106988/161245822-1acfad7c-d9ec-4b7f-bcad-0b6b34a399f6.png)

[2022-04-02 01:51] marvinmarnold commented on #73
This has been published and is waiting approval.

[2022-04-02 02:20] marvinmarnold commented on #15
@Andrewsopoku after pulling from master, the built result points to the wrong bundle. Can you see if anything was missed as part of https://github.com/NebraLtd/maker-starter-app/pull/82?

![Screen Shot 2022-04-01 at 9 19 49 PM](https://user-images.githubusercontent.com/1311030/161361921-decb681b-d9ad-4ab4-a090-57674cb51413.png)

[2022-04-02 11:32] Andrewsopoku commented on #15
@marvinmarnold It appears @posterzh changed for only android. I have created a PR here https://github.com/NebraLtd/maker-starter-app/pull/83 for iOS bundle ID change

[2022-04-03 14:45] Andrewsopoku opened #84 "Tab icons should always be visible"
we currently have 2 bottom tabs. “Home” and “Settings”. The Home tab icon doesn't look really visible when active.

**Acceptance criteria**
- Visible icon for home tab
- Visible icon for settings tab

[2022-04-04 11:55] marvinmarnold opened #88 "Share button not working"
The "share" button - it tries to share makerappscheme://hotspot/11qFNi5gNpm4zWBUbbrJ1BVhUgEfwM3M73nhmasURh8rBGeButb

**Acceptance Criteria**
- Share option should be removed

[2022-04-04 11:56] marvinmarnold commented on #88
@posterzh @Andrewsopoku can you add more details and acceptance criteria to this?

[2022-04-04 17:15] marvinmarnold commented on #15
Made an initial submission to Apple

[2022-04-04 17:24] marvinmarnold commented on #55
@Andrewsopoku I'm moving this back to In Progress, I'm not aware of an open PR

[2022-04-04 17:31] Andrewsopoku commented on #55
That's fine. But a PR was opened which addressed the first 3 ACs. https://github.com/NebraLtd/maker-starter-app/pull/61. The PR has been closed.

[2022-04-04 20:41] marvinmarnold commented on #80
@posterzh crash report from Google Play

<img width="1178" alt="Screen Shot 2022-04-04 at 3 40 34 PM" src="https://user-images.githubusercontent.com/1311030/161628367-b11d644d-3121-4006-aa9e-2724672aa6ba.png">

[logcat.txt](https://github.com/NebraLtd/maker-starter-app/files/8413056/logcat.txt)

[2022-04-04 20:49] marvinmarnold opened #89 "Increase touch size"
Android flagged touch size as an issue in the pre-launch report.

<img width="516" alt="Screen Shot 2022-04-04 at 3 42 54 PM" src="https://user-images.githubusercontent.com/1311030/161629590-bbb4e121-8b67-433f-a4e7-a99fbfb87b6f.png">

[2022-04-04 20:50] marvinmarnold opened #90 "Fix content labeling on flash screen"
Identified by Android in pre-launch report

<img width="815" alt="Screen Shot 2022-04-04 at 3 49 57 PM" src="https://user-images.githubusercontent.com/1311030/161629833-07d69e38-f9c6-4e69-9edf-4f629e6786cf.png">

[2022-04-04 20:51] marvinmarnold opened #91 "Fix low contrast"
Identified in Android pre-launch report

<img width="446" alt="Screen Shot 2022-04-04 at 3 51 15 PM" src="https://user-images.githubusercontent.com/1311030/161630026-5849b8f2-0588-495d-8019-dd663784f998.png">

[2022-04-04 21:34] Andrewsopoku commented on #45
@Louisreed how does this look;

<img height="800" width="auto" src="https://user-images.githubusercontent.com/20680743/161635960-3601613f-23ae-4272-a022-ad5be5c51847.png"/>

[2022-04-04 22:04] Andrewsopoku opened #92 "Bottom part of the Welcome Screen not showing"
Sometimes the bottom of the Welcome Screen is cut. This is especially problematic when it makes it impossible to link your wallet: https://nebraltd.slack.com/archives/C0XGF69SN/p1648681771596559?thread_ts=1647279479.807949&cid=C0XGF69SN

**Acceptance Criteria**
- All parts of the welcome screen should show

[2022-04-04 23:28] Louisreed commented on #45
@Andrewsopoku Looks a little too dark, Instead of black can it be #242424 please?

[2022-04-05 00:09] posterzh commented on #80
The full logcat file is very helpful. I will fix.

[2022-04-05 09:29] vpetersson commented on #93
@NebraLtd/device-team Not super urgent, since we don't have an outdoor version of the Rockpi yet, but this should probably be best done in the app.

[2022-04-05 11:09] Andrewsopoku commented on #59
Closed with https://github.com/NebraLtd/maker-starter-app/pull/86

[2022-04-05 11:09] #59 closed

[2022-04-05 11:11] Andrewsopoku commented on #79
Closed with https://github.com/NebraLtd/maker-starter-app/pull/85

[2022-04-05 11:11] #79 closed

[2022-04-05 11:23] marvinmarnold opened #98 "Add more detailed Bluetooth usage info for iPhone"
Guideline 5.1.1 - Legal - Privacy - Data Collection and Storage

We noticed that your app requests the user’s consent to access the Bluetooth, but doesn’t sufficiently explain the use of the Bluetooth in the purpose string.

Next Steps

Please revise the purpose string in your app’s Info.plist file for the Bluetooth to explain why your app needs access and include an example of how the user's data

[2022-04-05 11:27] marvinmarnold opened #99 "Create sreenshots for iPhone"
Guideline 2.3.3 - Performance - Accurate Metadata

We noticed that your screenshots do not sufficiently show your app in use. Specifically, your 12.9-inch iPad Pro, 6.5-inch iPhone, and 5.5-inch iPhone screenshots.

To help users understand your app’s functionality and value, your screenshots should highlight your app's core concept. For example, a gaming app should feature screenshots that captur

[2022-04-05 12:40] Andrewsopoku commented on #99
I have taken some screenshots. Should i share them here?

[2022-04-05 13:06] marvinmarnold commented on #99
@Andrewsopoku yes please FYI, these are the ones we are using for iPad, so iPhone should be similar
![IMG_0498](https://user-images.githubusercontent.com/1311030/161760320-d8d494e2-6c4e-4e90-a730-c346a59b2424.PNG)
![IMG_0499](https://user-images.githubusercontent.com/1311030/161760324-6692c4f1-6425-4d6d-bd9a-f67aab100ba3.PNG)
![IMG_0500](https://user-images.githubusercontent.com/1311030/161760326-

[2022-04-05 13:29] marvinmarnold opened #100 "Android: Investigate non-SDK API"
Do not believe this is blocking approval.

![image](https://user-images.githubusercontent.com/1311030/161764536-8edc6e29-29d3-4131-9f3a-31cee3a4fb5f.png)

[2022-04-05 13:30] marvinmarnold commented on #98
@Andrewsopoku looks great. Just capitalize `Bluetooth`.

[2022-04-05 13:45] marvinmarnold opened #101 "DeWi light gateway compliance"

[2022-04-05 14:33] Andrewsopoku commented on #99
![IMG_0728](https://user-images.githubusercontent.com/20680743/161777740-6dfc510f-f1b4-4218-8519-d957a3f9467f.PNG)
![IMG_0729](https://user-images.githubusercontent.com/20680743/161777749-65f428d7-2362-42d6-856d-7d7a81a1ad80.PNG)
![IMG_0732](https://user-images.githubusercontent.com/20680743/161777755-ec3f976b-93fb-44a8-84f1-50327e53f354.PNG)
![IMG_0733](https://user-images.githubusercontent.com/2

[2022-04-05 14:36] marvinmarnold commented on #99
@Andrewsopoku what size are these for?

[2022-04-05 14:40] Andrewsopoku commented on #99
@marvinmarnold from iphone 13 Pro so i guess  5.78 X 2.82 inches

[2022-04-05 14:42] marvinmarnold commented on #80
BTW this is what makes me think that the app is still under review and not yet rejected, despite the crash

![image](https://user-images.githubusercontent.com/1311030/161779766-acbdbd96-9836-414f-83d9-a0b019abcd31.png)

[2022-04-05 14:45] marvinmarnold commented on #99
Actually it is only accepting them as a 6.5", but that's fine.

[2022-04-05 15:55] Andrewsopoku commented on #98
@marvinmarnold a PR has been created. https://github.com/NebraLtd/maker-starter-app/pull/102

[2022-04-05 16:13] shawaj commented on #101
No it's not @marvinmarnold - not as far as I'm aware anyway.

I've sent them all the documents but haven't heard back yet

[2022-04-05 16:56] marvinmarnold commented on #101
@shawaj thanks. Should we create a separate issue to track that?

[2022-04-05 20:33] marvinmarnold commented on #73
Released an initial version: https://play.google.com/store/apps/details?id=com.nebra.helium.maker

Will close this at the end of the sprint when a more stable version is out.

[2022-04-05 20:35] posterzh commented on #73
@marvinmarnold Thank you.

[2022-04-05 22:02] posterzh opened #103 "Update user interface to be more user friendly"
Based on conversation: https://nebraltd.slack.com/archives/C0XGF69SN/p1649194385699389?thread_ts=1649190445.851989&cid=C0XGF69SN

**Acceptance criteria:**
First page(Pre login to Helium):
- Convert the 2 sentences to buttons so that the user understand it's clickable
- Update "Nebra Helium" to "Nebra Hotspot"

[2022-04-06 01:13] posterzh commented on #80
The reason of crashing is that the splash image is too big.
This is from `logcat.txt`:
`04-01 14:34:59.258: E/AndroidRuntime(12745): java.lang.RuntimeException: Canvas: trying to draw too large(128556540bytes) bitmap.
04-01 14:34:59.258: E/AndroidRuntime(12745): 	at android.view.DisplayListCanvas.throwIfCannotDraw(DisplayListCanvas.java:229)`

Need to replace the splash image to a smaller size.

[2022-04-06 10:11] Andrewsopoku commented on #103
@posterzh these issues already have tickets

[2022-04-06 10:11] Andrewsopoku commented on #98
Close with https://github.com/NebraLtd/maker-starter-app/pull/102

[2022-04-06 10:11] #98 closed

[2022-04-06 10:15] posterzh commented on #103
@Andrewsopoku Could you strike out the issues already exist?

[2022-04-06 12:14] Andrewsopoku commented on #84
Closed with https://github.com/NebraLtd/maker-starter-app/pull/94

[2022-04-06 12:14] #84 closed

[2022-04-06 13:59] Louisreed commented on #45
@Andrewsopoku Yeah looking better thanks!

[2022-04-06 14:16] marvinmarnold commented on #15
@Andrewsopoku can you push a new build to iphone with the recent changes?

[2022-04-06 23:17] marvinmarnold commented on #15
@Andrewsopoku doesn't look like there's a new build. Any blockers?

[2022-04-06 23:20] Andrewsopoku commented on #15
@marvinmarnold I distributed one, hours ago
https://appstoreconnect.apple.com/apps/1617299471/testflight/ios/93caf7ed-a1dc-41fa-a80a-25d2dccb9907

[2022-04-06 23:48] marvinmarnold commented on #15
Thanks for pointing that out. I do see it in TestFlight, thought it would show up on the main page. Let's talk tomorrow about submitting for re-review.

[2022-04-08 12:26] Andrewsopoku commented on #99
![Simulator Screen Shot - iPhone 8 Plus - 2022-04-08 at 13 22 29](https://user-images.githubusercontent.com/20680743/162435167-8e8b6d9b-afea-49fa-98ec-b04e67e48cb1.png)
![Simulator Screen Shot - iPhone 8 Plus - 2022-04-08 at 13 22 40](https://user-images.githubusercontent.com/20680743/162435200-98591f28-4b85-4ad7-a0f5-20e360d91111.png)
![Simulator Screen Shot - iPhone 8 Plus - 2022-04-08 at 13 23

[2022-04-08 12:57] posterzh opened #106 "Fix greeting text is not fully visible"
Convo: https://nebraltd.slack.com/archives/C0XGF69SN/p1649421929091229?thread_ts=1649190445.851989&cid=C0XGF69SN

**Acceptance criteria:**
- Greeting text should be visible in any screen density and phone OS/version.

[2022-04-13 11:44] Andrewsopoku commented on #55
Closed with https://github.com/NebraLtd/maker-starter-app/pull/109

[2022-04-13 11:47] Andrewsopoku commented on #78
Closed with https://github.com/NebraLtd/maker-starter-app/pull/108

[2022-04-13 11:47] #78 closed

[2022-04-13 11:47] #55 closed

[2022-04-13 12:29] #80 closed

[2022-04-13 12:36] #76 closed

[2022-04-13 21:30] posterzh opened #111 "Password text color is faded out in WiFi connection screen"
The foreground color of the password text is faded out.
![image](https://user-images.githubusercontent.com/91350131/163273522-4f334fcf-04ac-4f75-bde3-3f83de8ec589.png)

**Acceptance criteria:**
- As a user, I can recognize the password length and transient appearance of characters.

[2022-04-13 21:30] posterzh commented on #71
Need some style fix.
https://github.com/NebraLtd/maker-starter-app/issues/111

[2022-04-13 21:45] posterzh commented on #71
Configuring wifi is implemented differently between "Helium Maker App" and "Helium Hotspots App".
- Helium maker app use [setWifi](https://github.com/NebraLtd/maker-starter-app/blob/4c91377d49fcf1cf85e8a26da21c39c83852fdda/src/features/hotspots/setup/HotspotSetupWifiConnectingScreen.tsx#L67) method from '@helium/react-native-sdk'.
- "Helium Hotspots App" implements the logic of setting up WiFi on

[2022-04-13 21:58] posterzh commented on #71
We need some improvement on `hm-config` to make configuring WiFi robust later on.
- https://github.com/NebraLtd/hm-config/issues/190

[2022-04-14 10:55] Andrewsopoku commented on #91
Closed with https://github.com/NebraLtd/maker-starter-app/pull/110

[2022-04-14 10:55] #91 closed

[2022-04-14 10:55] Andrewsopoku commented on #92
Closed with https://github.com/NebraLtd/maker-starter-app/pull/110

[2022-04-14 10:55] #92 closed

[2022-04-14 10:57] Andrewsopoku commented on #74
Closed with https://github.com/NebraLtd/maker-starter-app/pull/110

[2022-04-14 10:57] #74 closed

[2022-04-14 10:58] Andrewsopoku commented on #103
Closed with https://github.com/NebraLtd/maker-starter-app/pull/110

[2022-04-14 10:58] #103 closed

[2022-04-14 13:04] Louisreed opened #112 "Hotspot options/details text invisible"
In dark mode on Android the text is invisible, white text is clashing with the light background

![image](https://user-images.githubusercontent.com/9106988/163396511-a57e6927-3fa9-4c23-ab8c-aaf83f344bba.png)

[2022-04-14 13:58] Andrewsopoku commented on #75
Like most blockchains, Helium has a system of transaction fees. All transactions in the Helium blockchain are paid in Data Credits (DCs). Data Credits are produced via burning some amount of HNT using an on-chain transaction. And thanks to a system called "Implicit Burn", users (typically) don't need to manually supply DCs to pay fees. As long as the Helium wallet being used to submit the transact

[2022-04-14 14:09] marvinmarnold opened #113 "Prices on Pricing Page should be in USD to GBP"

[2022-04-14 14:12] marvinmarnold opened #114 "Connect staging to Balena"
Investigate scoping to specific fleet

[2022-04-15 00:04] marvinmarnold commented on #113
@NebraLtd/cloud-team note that this is F1 and should be worked on first given it impacts sales.

[2022-04-15 00:10] marvinmarnold commented on #75
@Andrewsopoku based on your findings, it seems like we need to split this up in the app so that the user has the option to update only the antenna.

[2022-04-15 13:19] marvinmarnold opened #115 "Remove share button"
Hotspot menu currently has "Share" option which generates and share a link with the hotspot address. Nothing happens when the link is clicked. The share option needs to be taken off.

**Acceptance Criteria**
- Hotspot menu should not have share option

[2022-04-15 13:23] marvinmarnold commented on #75
- Andrews test actual fees. Especially for antenna only.
- If antenna only fees are correct ($0.55) we should add helper text so that the user knows they will only be charged for what they change.
- If antenna fees are not correct, we'll have to separate out a new flow to update antenna only.

[2022-04-15 13:26] posterzh commented on #106
I couldn't reproduce this issue on Moto e Android 10.
The greeting text has enough width and height to display any size of greeting text. Even if the greeting text is long, then it is wrapped and displayed as multiline.

The reason of the issue stems from the `Text` component made by original Maker App.

[2022-04-15 13:28] marvinmarnold opened #116 "Update iOS and Android store images for final publish"
**Acceptance Criteria**
- Android: Phone uploaded to Google Play
- Android: 7inch tablet uploaded to Google Play
- Android: 10inch tablet uploaded to Google Play
- Instructions for mocking a wallet when using the emulator in README

[2022-04-15 16:28] marvinmarnold commented on #75
@Andrewsopoku the button is currently "Assert Location". This will also need to be updated to "Update Location or Antenna"

[2022-04-15 16:46] marvinmarnold opened #117 "Unable to update antenna only"
Moved from: https://github.com/NebraLtd/hm-dashboard/issues/957

After trying to update antenna only, screen loads forever and never hands over to Helium App. Have tried both custom antenna type and Nebra stock antenna type.

![signal-2022-04-15-113414_001.png](https://images.zenhubusercontent.com/6111782bbed147dc514083ae/6ecc1ddd-3197-4bb2-8055-a6442652dd2a)

**Acceptance Criteria**
- There shoul

[2022-04-15 16:46] marvinmarnold commented on #117
@Andrewsopoku @posterzh

[2022-04-15 17:24] marvinmarnold commented on #117
I don't see a way to get around adding another button for update antenna only. Currently, the location assertion always jumps to the location of the user, not the current location of the hotspot. That makes it impossible (very very difficult) for the user to keep the same location as before because they need to manually scroll to the exact same GPS coordinates.

We could change this default behavi

[2022-04-15 17:31] marvinmarnold opened #118 "Unable to search address during location assertion"
Consider removing feature if it will be too complex to get working quickly

[2022-04-15 17:31] marvinmarnold commented on #118
@Andrewsopoku @posterzh

[2022-04-15 17:40] marvinmarnold opened #119 "Location assertion always says fee will be paid by Nebra"
This is displayed even if the hotspot has already used its free quota.

![image](https://user-images.githubusercontent.com/1311030/163603016-1d65a673-9cb8-44e9-8162-d45e3a477328.png)

Please confirm we are not paying for these subsequent location assertions

** Acceptance Criteria **
- For onboarding, the Location Update Confirmation page should show the current message (Your location fee($10) has

[2022-04-15 17:40] marvinmarnold commented on #119
@Andrewsopoku @posterzh

[2022-04-15 17:45] marvinmarnold opened #120 "Should not crash when asserting a location for a gateway that does not belong to Nebra"
![signal-2022-04-15-113414_001](https://user-images.githubusercontent.com/1311030/163603422-dbbc16eb-5079-4d02-9758-8dc2b9ed6a90.png)

**Acceptance criteria**
- If hotspot does not exist in onboarding server, user should always have to pay fee and app should not hang

[2022-04-18 09:17] Andrewsopoku commented on #112
@Louisreed I don't seem to replicate the issue.
Are you using the latest version of the app?
Also can you give some info on your mobile device

[2022-04-18 09:30] Andrewsopoku commented on #120
@marvinmarnold Should you be able to assert location for such hotspots?

[2022-04-18 09:43] Andrewsopoku commented on #119
I can confirm that the maker doesn't payer for subsequent hotspot updates. The labels are wrong. The below transaction was made from Nebra app.
![IMG_0822](https://user-images.githubusercontent.com/20680743/163790378-e51dddba-ea4a-4df1-8ad0-2709c6e7683d.jpg)

[2022-04-18 10:02] Andrewsopoku commented on #117
@marvinmarnold i am unable to replicate the issue, as every time i try i am sent to Helium app complete the transaction. However, with the current design of the Nebra app, it's just not possible to update the antenna only as you mentioned.

An easier approach is to set the GPS location to the current Hotspot coordinates but with that, we will have to test if indeed the user will not be charged if

[2022-04-18 12:10] marvinmarnold commented on #120
@Andrewsopoku "should" can mean a lot of things. In one sense, we aren't supporting other manufacturers, so we don't need to support this feature. That said, we are displaying hotspots from other manufacturers and this breaks the app. Given we have partially added support for other manufacturers, we either need to hide them completely, or add support, but we can't have broken features. I think it

[2022-04-18 12:14] marvinmarnold commented on #117
@posterzh are you able to replicate this?

[2022-04-19 12:28] marvinmarnold opened #125 "Link to/promote Dashboard"
**Acceptance criteria**
- On homepage
- "For additional insights, check out the Nebra Dashboard"
- Add UTM params for tracking

[2022-04-20 00:52] Andrewsopoku commented on #88
Closed with https://github.com/NebraLtd/maker-starter-app/pull/123

[2022-04-20 00:52] #88 closed

[2022-04-20 00:53] Andrewsopoku commented on #115
Closed with https://github.com/NebraLtd/maker-starter-app/pull/123

[2022-04-20 00:53] #115 closed

[2022-04-20 07:26] Andrewsopoku commented on #118
@marvinmarnold below is the error message causing the issue.

{"error_message": "This API project is not authorized to use this API.", "predictions": [], "status": "REQUEST_DENIED"}

It is most likely Google place hasn't been activated for the api key we are using. I checked google console but i dont have access to the App project there. Please are you able to check from Google Console if Google p

[2022-04-20 08:43] posterzh commented on #117
@marvinmarnold I was able to reproduce this error a few days ago, but I can't now.

[2022-04-20 09:10] posterzh commented on #117
After updating antenna, the page was hang out since the onboarding record couldn't be fetched. It maybe the server problem but the maker app should handle this case gracefully.

[2022-04-20 16:29] marvinmarnold commented on #118
@Andrewsopoku Maps JavaScript API and Places API are now enabled. Can you check if it's working now?

[2022-04-21 10:23] #118 closed

[2022-04-21 20:13] Andrewsopoku commented on #119
Closed with https://github.com/NebraLtd/maker-starter-app/pull/124

[2022-04-21 20:13] #119 closed

[2022-04-22 14:51] marvinmarnold opened #127 "Add Segment"
**Acceptance criteria**
- Data accessible in BigQuery
- Track page/screen views
- Track actions: onboarding, assert location, device transfer, set antenna
- Do not track email or name, use Helium account ID

[2022-04-25 11:59] Andrewsopoku commented on #112
@Louisreed Please any update with this?

[2022-04-25 12:01] Andrewsopoku commented on #90
@posterzh I guess this is an Android issue. Has it already been fixed?

[2022-04-25 12:03] Andrewsopoku commented on #89
@marvinmarnold this issue has been fixed. Can i closed it?

[2022-04-25 15:34] marvinmarnold commented on #89
@Andrewsopoku yes, please link to the PR that closed it

[2022-04-25 15:43] Louisreed commented on #112
@Andrewsopoku I reinstalled the app and the issue seems to be resolved now!

[2022-04-25 15:43] #112 closed

[2022-04-25 18:41] Andrewsopoku commented on #120
Closed with https://github.com/NebraLtd/maker-starter-app/pull/128

[2022-04-25 18:41] #120 closed

[2022-04-26 13:42] Andrewsopoku opened #129 "Update Antenna Menu"
Currently, we dont have a menu item for updating only updating Antenna only

**Acceptance**
- Hotspot Menu should have "Update Antenna" item.

[2022-04-26 13:51] Andrewsopoku opened #130 "Set Assert Location map to hotspot current location"
When asserting hotspot location, the map marker is set to the user's current location.

**Acceptance Criteria**
- If the hotspot's location has previously been asserted, the map marker should by default point to the current hotspot location
- If the hotspot's location has never been asserted, the marker should point to the current user location

[2022-04-26 14:48] marvinmarnold commented on #111
@posterzh can you move this issue to the correct column on Zenhub?

[2022-04-26 14:49] posterzh commented on #111
@marvinmarnold Sure

[2022-04-26 22:24] marvinmarnold commented on #111
@posterzh the related PR is merged. Shouldn't this be closed?

[2022-04-26 23:27] posterzh commented on #111
Yes, this can be merged. It's tested after merging.

[2022-04-26 23:27] #111 closed

[2022-04-27 07:42] #129 closed

[2022-04-27 11:42] Andrewsopoku commented on #130
closed with https://github.com/NebraLtd/maker-starter-app/pull/131

[2022-04-27 11:42] #130 closed

[2022-04-27 11:58] Andrewsopoku commented on #116
**iPhone 13**
![Simulator Screen Shot - iPhone 13 - 2022-04-26 at 15 29 29](https://user-images.githubusercontent.com/20680743/165513293-bb8f4019-2072-4635-95e0-2eac0ee200d7.png)

![Simulator Screen Shot - iPhone 13 - 2022-04-26 at 15 28 44](https://user-images.githubusercontent.com/20680743/165513309-7fa4fc9c-b517-4685-adf8-f4fdadf4a96c.png)

[2022-04-27 21:41] #71 closed

[2022-04-28 09:54] Louisreed commented on #116
@marvinmarnold @Andrewsopoku
![2022-04-28 10 53 22](https://user-images.githubusercontent.com/9106988/165727311-b05b6ce4-2023-4ad2-aebb-522afad2d717.jpg)
![2022-04-28 10 53 20](https://user-images.githubusercontent.com/9106988/165727316-fbc4d5df-11b5-474a-8dce-b8d01c159a01.jpg)
![2022-04-28 10 53 18](https://user-images.githubusercontent.com/9106988/165727318-3e4c3912-f839-4eda-aeb0-44a321e61a66.j

[2022-04-28 11:00] nsp-devel opened #137 "App does not detect presence of Helium app on device"
**Describe the bug**
I use Android 11 on a Google-free AOSP build (/e/OS 0.23-r). It comes with its own App Store ("App Lounge") that supports installing apps from various sources, including Play Store.

I have installed both the Helium app and Nebra. But when launching “Nebra” it says I first need to install “Helium” so it can deep-link with my wallet details. When I click on the app’s correspond

[2022-04-28 11:01] marvinmarnold commented on #15
v1.0.1 has been released and is in the app store

[2022-04-28 11:01] #15 closed

[2022-04-28 13:43] Andrewsopoku opened #135 "Antenna setup screen glitch in darkmode"
In darkmode, some text colors  are not visible.

![EAA3381D-96BA-419F-8EFF-CD8333238CBB](https://user-images.githubusercontent.com/20680743/165766048-ca4d5b88-ba6b-44e0-9ab5-621b196fe230.png)

[2022-04-28 18:27] shawaj opened #136 "Can't see existing helium account button on certain Android phones"
https://twitter.com/grafiumgroup/status/1519734188785680384?t=-trQIdRE9sqLYRMXILif5w&s=19

https://twitter.com/grafiumgroup/status/1519733820634935302?t=5hC2AdUqLezJudioUDTOEg&s=19

[2022-04-28 19:20] marvinmarnold commented on #125
@Louisreed could use wireframes for this

[2022-04-29 00:46] shawaj commented on #137
Relates to #136

[2022-04-29 02:20] Andrewsopoku commented on #136
The users are on an older version of the app. Can we ask ask them to update the app from playstore and see if the issue still persist.

[2022-04-29 03:38] shawaj commented on #136
Have done ✅

[2022-04-29 17:54] KevinWassermann94 opened #139 "Add Support as an extra tab"
We should add an extra tab for support. This should load the Freshdesk Portal Knowledge Base, possibly as a web page integration. It should default to articles surrounding help with the app and reaching out to the support. Other categories like troubleshooting the miners should be accessible through the menu

Related to: https://github.com/NebraLtd/maker-starter-app/issues/152

**Acceptance criter

[2022-04-29 18:42] marvinmarnold commented on #73
v1.0.1 released

[2022-04-29 18:42] #73 closed

[2022-05-03 11:47] Andrewsopoku commented on #139
@KevinWassermann94 Please can you share the url to embed?

[2022-05-03 11:48] Andrewsopoku commented on #125
@Louisreed please any update on the wireframe?

[2022-05-03 11:51] KevinWassermann94 commented on #139
@Andrewsopoku https://support.nebra.com/support/home

[2022-05-03 12:10] Louisreed commented on #125
@Andrewsopoku I'll get this over to you today

[2022-05-03 14:21] marvinmarnold commented on #125
https://segment.com/docs/guides/how-to-guides/cross-channel-tracking/ fyi

[2022-05-03 14:29] marvinmarnold commented on #136
@posterzh can you see if their issue is resolved now?

[2022-05-03 14:46] posterzh commented on #136
That might happen depending how the Helium app is installed.
It depends if Helium App is installed using Google Play Store App or installed using *.apk file.
Latter case is more error-prone. I will follow @grafiumgroup and trying to reproduce at my side.

[2022-05-03 15:26] Louisreed commented on #125
@Andrewsopoku @marvinmarnold Thoughts? https://www.figma.com/file/6l7k7BRmW98AMmRxV01iVT/App?node-id=124%3A18
![Home Page - Notification - Dashboard](https://user-images.githubusercontent.com/9106988/166484371-adbde9b4-1522-4bef-a8f3-edc2469c3ae1.png)

[2022-05-03 15:51] marvinmarnold commented on #125
@Louisreed it looks good but some thoughts:

- Do we want it to be a permanent message instead of closeable? Or @Andrewsopoku maybe it stays a popup but opens every team user enters the home screen?
- I'd change the trial to "Free Trial" instead of "New Update"

[2022-05-03 16:23] Louisreed commented on #125
@marvinmarnold Yeah good point, I was thinking the pop up appears every time the app is reopened. This can be applied for a limited time and we can find a better permanent place to put it in the settings or other sub-menu etc.

[2022-05-03 19:10] shawaj commented on #136
Haven't heard back from them. I would close this unless someone else reports it

[2022-05-03 20:56] posterzh commented on #136
@shawaj I haven't heard yet from them. But I am almost sure the issue comes from installing the Helium app using *.apk file.
I reproduced the same scenario on my phone.
- My phone is Motorola e.
- When the Helium app is installed from Google Play Store, Nebra app can detect its installation.
- When the Helium app is installed from apk file, Nebra app can't detect its installation.

For the reporte

[2022-05-04 13:44] nsp-devel commented on #137
Never mind, it now works with 1.0.1

[2022-05-04 13:44] #137 closed

[2022-05-05 00:27] Andrewsopoku commented on #125
@Louisreed i think it will be annoying to the user if they have to close it for a number of times. How about making it permanent on the home screen?

[2022-05-05 08:56] Louisreed commented on #125
@Andrewsopoku @marvinmarnold What about this version instead? 3 Styles to choose from:
![Home Page - Notification - Dashboard - Permanent-1](https://user-images.githubusercontent.com/9106988/166891598-76e1266e-2330-4611-850b-84d8fc9e9e2d.png)
![Home Page - Notification - Dashboard - Permanent-2](https://user-images.githubusercontent.com/9106988/166891621-5a31fbcf-8a4e-4a08-b19c-1d0df86dde4f.png)
!

[2022-05-05 12:51] marvinmarnold commented on #139
@Louisreed can you make some simple wireframe for this?

[2022-05-05 13:25] Louisreed commented on #139
@marvinmarnold Sure thing

[2022-05-05 13:39] Andrewsopoku commented on #125
@Louisreed Perfect. Can you add dark mode versions too

[2022-05-05 14:40] Louisreed commented on #125
@Andrewsopoku Which style are we going with?

[2022-05-05 14:50] Louisreed commented on #139
@marvinmarnold @Andrewsopoku @KevinWassermann94 Thoughts?
![Home Page - Taskbar - Support Icon](https://user-images.githubusercontent.com/9106988/166950530-80a7fbad-46ec-4ea0-81de-9f102d886497.png)

![Home Page - Taskbar - Support Icon - Active](https://user-images.githubusercontent.com/9106988/166950524-09710eb1-d1eb-4fda-a8a8-9307ae7e5dc7.png)

[2022-05-05 15:53] marvinmarnold commented on #139
Thanks!

@KevinWassermann94 do you know how to make it default to articles about the app? Do we even have any yet?

[2022-05-09 12:39] #127 closed

[2022-05-09 18:08] vpetersson opened #143 "Fix start screen when there are connectivity issues"
This is how the app looks when you have either no connectivity, or slow connectivity (before content loads):

![image](https://user-images.githubusercontent.com/357664/167470552-5040f8f9-4149-45c8-a704-e2070251a57e.png)

This is very misleading. In my case, I have a number of hotspots linked, but still get this.

The desired behavior would be to show some placeholder text (such as "Loading..."), r

[2022-05-10 11:10] Andrewsopoku commented on #125
<img width="918" alt="utm" src="https://user-images.githubusercontent.com/20680743/167615533-e85ec386-7c23-4d88-91e4-c3a6955faeae.png">
@marvinmarnold Please can i get some suggestion on the UTM values to use

[2022-05-10 13:47] KevinWassermann94 commented on #143
We should consider caching the hotspots in case the API is unavailable

[2022-05-10 15:25] vpetersson commented on #143
Yeah caching could work here.

[2022-05-10 17:53] marvinmarnold commented on #125
- utm_id: nebra_app.1
- utm_source: nebra_app_ios or nebra_app_android
- utm_medium: app_home
- utm_campaign: nebra_app

Skip the rest. @Andrewsopoku

[2022-05-11 10:29] Andrewsopoku commented on #125
utm_campaign: nebra_app -> Should it not be a name related to the dashboard rather?.

[2022-05-11 18:02] Andrewsopoku commented on #116
**IPHONE 8**
![Simulator Screen Shot - iPhone 8 Plus - 2022-05-11 at 18 59 00](https://user-images.githubusercontent.com/20680743/167916218-3ed70987-feb4-4a4c-bb23-290427c04eea.png)

![Simulator Screen Shot - iPhone 8 Plus - 2022-05-11 at 19 01 45](https://user-images.githubusercontent.com/20680743/167916241-065b3efc-23b4-40da-b4c7-2665b5292da6.png)

[2022-05-11 20:52] #135 closed

[2022-05-11 20:52] #117 closed

[2022-05-11 20:52] #116 closed

[2022-05-11 20:53] #125 closed

[2022-05-12 00:23] marvinmarnold opened #149 "Opt-in/out of Segment"

[2022-05-12 14:40] Andrewsopoku opened #150 "Improving Look and Feel of Account Linking Pages"
These pages should be more appealing and communicate better to the users.

![Simulator Screen Shot - iPhone 13 - 2022-05-12 at 15 15 25](https://user-images.githubusercontent.com/20680743/168101342-2a25f18a-6b8f-4ba5-b5c8-c29e0e66eddf.png)
![Simulator Screen Shot - iPhone 13 - 2022-05-12 at 15 15 44](https://user-images.githubusercontent.com/20680743/168101346-cd0f2769-34c4-470c-95bc-88c122fb6335.

[2022-05-12 15:21] marvinmarnold opened #151 "Display notification that Helium App must be installed from official Play Store"

[2022-05-15 22:28] shawaj opened #152 "Add dashboard as an extra tab"
Similar to #139 we should add dashboard as an extra tab. Even if, to start with, it's just a button that opens a browser window to Dashboard of similar it would be good to advertise it from the app

**Acceptance criteria**
- Free Trial button also opens this window: https://github.com/NebraLtd/maker-starter-app/issues/153
- Test responsiveness of Dashboard design on iPhone and Android. Create foll

[2022-05-16 19:01] marvinmarnold opened #153 "Clarify "Free Trial!""
Based on some of the store reviews, users seem to think the app is a paid product. We should clarify what the distinction between the dashboard and app and what's paid.

Possibly merge into: https://github.com/NebraLtd/maker-starter-app/issues/152

Acceptance criteria
- When link is clicked, it opens the embedded Dashboard sign up page
- Title: Advanced Fleet Management
- Subtitle: Remotely contro

[2022-05-19 15:08] marvinmarnold opened #158 "Improve look of Add Hotspot page"
Maybe the light and dark theme got mixed. The colors look off. We could also add some information like:

- Animal name
- Fees
- More specific instructions to update location later if not set
![Screenshot_20220519-100509](https://user-images.githubusercontent.com/1311030/169329455-e418c3af-7861-4db0-a7a8-9ce761d4d760.png)

[2022-05-20 13:36] marvinmarnold commented on #77
Just submitted v1.0.3 for Android and iOS

[2022-05-20 13:36] #77 closed

[2022-05-20 13:37] marvinmarnold commented on #151
Just submitted v1.0.3 for Android and iOS

[2022-05-20 13:37] #151 closed

[2022-05-21 12:11] marvinmarnold opened #160 "Stuck on "updating hotspot" when trying to onboard"
Using v1.0.3 on iPhone. After confirming location to assert, then:
![signal-2022-05-21-071954_002](https://user-images.githubusercontent.com/1311030/169651343-3913608b-d516-434d-905f-b1b5de359495.png)

stuck on updating hotspot:

<img width="414" alt="signal-2022-05-21-071526_001" src="https://user-images.githubusercontent.com/1311030/169651106-9381cb6b-37b7-4932-82c0-d4b6df1516a9.png">

Possibly

[2022-05-21 12:12] marvinmarnold commented on #160
@pritamghanghas have the values that cannot be fetched in the diagnostics above (MC, MD, MH, MN, etc) been correctly setup for the light miner?

[2022-05-21 13:14] pritamghanghas commented on #160
@marvinmarnold  changes are in gateway-rs based light-hotspot branches. Master is not carry any change for these right now. Is it related to the stopped containers on test device that we discussed on slack?

[2022-05-21 13:30] marvinmarnold commented on #160
@pritamghanghas this device is running in HELIUM-INDOOR-915-ROCKPI. Do we expect these values to be populated on the current helium-miner-software production branch?

[2022-05-21 13:34] pritamghanghas commented on #160
Yes, on current one we haven't changed anything yet as helium haven't stopped sync yet.

[2022-05-22 17:12] marvinmarnold opened #161 "Antenna fee is not 0"
IIRC antenna fee is $0.55

**Acceptance Criteria**
- Show appropriate antenna update fee

[2022-05-23 08:30] posterzh commented on #160
I moved a rockpi besides me into the same fleet and tested the onboarding with Android phone. But I couldn't reproduce and onboarding went well.
Even simulating the onboarding with the hotspot ID from (https://dashboard.balena-cloud.com/devices/1af94fdfe4271c791a84afcbe5e4d7e2) went well.
There might be some iPhone specific issue.

[2022-05-23 11:56] Andrewsopoku commented on #139
@marvinmarnold @KevinWassermann94 is there a page on Freshdesk Portal Knowledge Base which is has "articles about the app", as requested in the acceptance criteria.

[2022-05-23 11:57] KevinWassermann94 commented on #139
@Andrewsopoku We can get the documentation for the app set up today/ tomorrow

[2022-05-23 12:03] KevinWassermann94 commented on #139
@Andrewsopoku You can link to here: https://support.nebra.com/support/solutions/24000003609

Content will be added to it, but link won't change

[2022-05-24 14:09] Andrewsopoku commented on #150
@Louisreed please can we get some designs here.

[2022-05-24 14:31] Louisreed commented on #158
@Andrewsopoku Sure thing

[2022-05-24 16:17] marvinmarnold commented on #160
@posterzh @Andrewsopoku I tested on Android and after pressing 'register hotspot', a prompt shows up asking me how I want to follow the deep link (open with Firefox or Chrome). After selecting Chrome, the official Helium app opens.

This seems to be the missing piece on iOS. For some reasons, the deep link isn't being correctly triggered.

[2022-05-25 11:52] Andrewsopoku commented on #160
I believe you had this issue during onboarding.
I have tried replicating the issue but still no luck.
Are you able to assert location?
Are you sure the build you have  doesn't have your address hardcoded?

[2022-05-25 21:28] marvinmarnold commented on #160
Weird, I can no longer replicate this @posterzh @Andrewsopoku. I finally onboarded the hotspot with my iPhone, without a problem. Location assertion is also working fine. Will close this, even though I have no clue what changed.

[2022-05-25 21:28] #160 closed

[2022-05-26 14:08] marvinmarnold commented on #139
Closed by submission v1.0.4

[2022-05-26 14:08] #139 closed

[2022-05-26 14:08] marvinmarnold commented on #143
Closed by submission v1.0.4

[2022-05-26 14:08] #143 closed, assigned to Andrewsopoku

[2022-05-26 14:13] marvinmarnold commented on #149
@Louisreed can you provide a wireframe for this?

[2022-05-26 15:35] Louisreed commented on #150
![Account Linking - App Installed - Light-1](https://user-images.githubusercontent.com/9106988/170522166-f3000188-f715-439d-9926-3d36c30e60e2.png)
![Account Linking - App Installed - Light](https://user-images.githubusercontent.com/9106988/170522173-55b0d615-1221-421c-98df-bab7118eb7b1.png)
![Account Linking - App Not Installed - Light-1](https://user-images.githubusercontent.com/9106988/170522176

[2022-05-26 15:52] Louisreed commented on #158
![Add Hotspot - Dark](https://user-images.githubusercontent.com/9106988/170525243-19d27526-197f-475f-abc3-38e51ba0c6cc.png)
![Add Hotspot - Light](https://user-images.githubusercontent.com/9106988/170525247-c9905ffc-39f3-4971-9ba6-84b8aaa4c31a.png)

https://www.figma.com/file/6l7k7BRmW98AMmRxV01iVT/App?node-id=205%3A278

[2022-05-26 16:15] Louisreed commented on #149
![Opt-in out Segment - Dark](https://user-images.githubusercontent.com/9106988/170529513-d9f52df7-e81c-4361-ae70-5e8e66e81447.png)
![Opt-in out Segment - Light](https://user-images.githubusercontent.com/9106988/170529515-e1773337-0f5f-43e5-95e4-466d117fbb16.png)

https://www.figma.com/file/6l7k7BRmW98AMmRxV01iVT/App?node-id=206%3A357

[2022-05-30 16:11] marvinmarnold commented on #152
@Louisreed needs design

[2022-05-30 16:19] marvinmarnold commented on #161
@Andrewsopoku can you add a screenshot for @Louisreed to make some adjustments to?

[2022-05-30 16:24] marvinmarnold commented on #149
- "Segment tracking" is not clear
- Find out more link, going to privacy policy
- Think about moving this earlier in the process, and using a design that encourages users to accept

[2022-05-30 19:58] Andrewsopoku commented on #161
![Simulator Screen Shot - iPhone 13 - 2022-05-30 at 20 57 26](https://user-images.githubusercontent.com/20680743/171053343-9fe53078-500a-4ad4-b54c-dcf0a5df08b6.png)

[2022-06-06 11:33] pritamghanghas opened #168 "Revisit error() logging to reduce traffic to sentry"
We need to revisit how we often we use error() level logging and reduce it by dropping to warning() whenever possible. Use these [guidelines](https://github.com/nebraltd/product-management/issues/67#issuecomment-1144631643) to make the decision.

**Acceptance Criteria**
- error logging as per [guidelines](https://github.com/nebraltd/product-management/issues/67#issuecomment-1144631643)

[2022-06-08 11:11] Louisreed commented on #149
![Opt-in out Segment - Light.png](https://images.zenhubusercontent.com/6240c646b62e3d4770d258f5/de954746-8839-464b-b441-a4394a5dcac4)
![Opt-in out Segment - Dark.png](https://images.zenhubusercontent.com/6240c646b62e3d4770d258f5/cbd7fecb-041b-4345-a3fd-6d4c4d3757dc)

[2022-06-08 12:43] Louisreed commented on #149
![Sign in.png](https://images.zenhubusercontent.com/6240c646b62e3d4770d258f5/2fc545a9-76f2-4efd-865c-1449421b0ffe)
![Sign in - Dark.png](https://images.zenhubusercontent.com/6240c646b62e3d4770d258f5/723f1067-84ac-4930-9e15-04a25c289fd1)

[2022-06-08 13:24] Andrewsopoku commented on #152
@Louisreed please i dont seem to find the design on Figma. Can you share a link to it?

[2022-06-08 13:25] Louisreed commented on #152
@Andrewsopoku https://www.figma.com/file/iIK2dbnE5TbIbar1B4olzM/Nebra-Design-System?node-id=3604%3A11777

[2022-06-08 14:06] marvinmarnold commented on #149
Looks good. I left a comment to tweak the wording.

[2022-06-08 14:09] Louisreed commented on #149
@marvinmarnold Figma design updated!

[2022-06-08 14:19] marvinmarnold commented on #149
![Screen Shot 2022-06-08 at 9 17 16 AM](https://user-images.githubusercontent.com/1311030/172639625-98439266-0407-478b-a7c2-eeebe58e18d0.png)

![Screen Shot 2022-06-08 at 9 19 06 AM](https://user-images.githubusercontent.com/1311030/172640045-268eaa18-7f82-4e8d-8446-7ad25101ffff.png)

[2022-06-09 00:13] marvinmarnold commented on #161
@Andrewsopoku can you open a PR for a new release and push to Test Flight?

[2022-06-09 00:22] Andrewsopoku commented on #161
@marvinmarnold unexpectedly, i am able to still reproduce the issue when i open antenna update for the first time but the correct fee gets set on subsequent opening. I moved the ticket to in-progress because i am still figuring out what is causing the issue. The easiest fix would be hardcoding the fee since we already know and opening a follow up ticket for a proper fix.

Thoughts?

[2022-06-09 03:23] marvinmarnold commented on #161
That sounds good to me. @KevinWassermann94?

[2022-06-12 23:14] Andrewsopoku commented on #153
@marvinmarnold your input is required here

[2022-06-12 23:39] marvinmarnold commented on #152
@Andrewsopoku I updated the AC to check the responsive layout on mobile.

[2022-06-12 23:53] marvinmarnold commented on #153
@Andrewsopoku, I just updated the text in the AC

[2022-06-13 11:24] KevinWassermann94 commented on #136
I consider this resolved

[2022-06-13 11:24] #136 closed

[2022-06-13 11:25] KevinWassermann94 commented on #90
@posterzh Is this resolved?

[2022-06-13 11:25] #89 closed

[2022-06-13 11:31] Andrewsopoku commented on #153
@marvinmarnold Seen thanks. But is the dashboard home page not more appropriate than the sign up page? A user may already be signed in or have an account.

[2022-06-22 23:16] marvinmarnold commented on #161
Published v1.0.5 to both stores. Waiting on approval.

[2022-06-22 23:16] #161 closed

[2022-06-22 23:16] marvinmarnold commented on #153
Published v1.0.5 to both stores. Waiting on approval.

[2022-06-22 23:16] #153 closed

[2022-06-22 23:16] marvinmarnold commented on #152
Published v1.0.5 to both stores. Waiting on approval.

[2022-06-22 23:16] #152 closed

[2022-06-28 12:44] Andrewsopoku opened #174 "Standardize analytics nomenclature"
Related to https://github.com/NebraLtd/hm-dashboard/issues/1084
**source_scope-action**
app_hotspot-onboarded

- sources:  app
- scopes: home, hotspot, support, dashboard
- actions: new, opened, location_asserted,  transferred, antenna_updated, address_copied

**Acceptance Criteria**
- [x] The standard name scheme is `source.scope_subscope.action`
- [x] Actions: For every action button and page vi

[2022-07-04 14:39] salmanfarisvp opened #175 "Error while accessing dashboard over IOS application"
Nebra dashboard account is created using SSO and when accessing the dashboard gets the error "403:disallowed_useragent" res: FD #371168

![IMG_CAEC00B54D31-1 (1)](https://user-images.githubusercontent.com/11945360/177176388-8ad37cf6-2aab-423b-9a8c-5f35bf1b1d59.jpeg)

[2022-07-05 14:16] Andrewsopoku commented on #174
@marvinmarnold https://github.com/NebraLtd/hm-dashboard/issues/1244 is a separate issue.

[2022-07-05 14:24] marvinmarnold opened #176 "Identify all page views coming app"
@marvinmarnold commented on [Wed Jun 29 2022](https://github.com/NebraLtd/hm-dashboard/issues/1244)

Follow-up to: https://github.com/NebraLtd/hm-dashboard/issues/1192

Only the first page view of the embedded Dashboard is tracked with UTM. Need to be able to distinguish page views from within the app from regular page views

**Acceptance criteria**
- `context_campaign_source` set to `nebra_app_io

[2022-07-05 17:11] marvinmarnold commented on #174
You are right, thanks for pointing that out.

[2022-07-19 14:16] KevinWassermann94 opened #179 "Ensure that 5G miners can be onboarded with the Nebra app"
Acceptance Criteria:
- [ ] 5G Miners can be onboarded with the Nebra app

[2022-07-19 14:25] #179 closed

[2022-07-26 12:09] marvinmarnold commented on #176
App v1.0.6 submitted to both stores

[2022-07-26 12:09] #176 closed

[2022-07-26 12:09] marvinmarnold commented on #174
App v1.0.6 submitted to both stores

[2022-07-26 12:09] #174 closed

[2022-08-30 13:29] KevinWassermann94 opened #181 "Add option to onboard 5G Miners"
Acceptance Criteria:
- 5G Miner uses web onboarding

[2022-09-28 14:41] #100 closed

[2022-09-28 14:46] #31 closed

[2022-11-22 10:50] KevinWassermann94 opened #183 "Implement Solana add_gateway transaction"
As soon as the React Native SDK implementation is available we need to add the add_gateway transaction